ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

div {
    border: 1px solid #111;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1, h2, h3 {
    color: #070707;
}

.intro, .content, .rule-section, .skills-section, .gameplay-section, .practice-section {
    margin-bottom: 10px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.skill {
    flex: 1;
    text-align: center;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
}
